<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UEHTML.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>409E6D801F5003DA00E3BE49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409E6D991F5003DA00E3BE49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409E6DA41F5003DA00E3BE49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
