<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class</key>
		<string>ATQVicintyViewController</string>
		<key>title</key>
		<string>主页</string>
		<key>image</key>
		<string>home01</string>
		<key>selectedImage</key>
		<string>home02</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>ATQViewController</string>
		<key>title</key>
		<string>凹凸圈</string>
		<key>image</key>
		<string>aotu01</string>
		<key>selectedImage</key>
		<string>aotu02</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>ATQPublishViewController</string>
		<key>title</key>
		<string>兼职中心</string>
		<key>image</key>
		<string>job02</string>
		<key>selectedImage</key>
		<string>job01</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>ATQMessageViewController</string>
		<key>title</key>
		<string>消息</string>
		<key>image</key>
		<string>information02</string>
		<key>selectedImage</key>
		<string>information01</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>ATQMeViewController</string>
		<key>title</key>
		<string>我的</string>
		<key>image</key>
		<string>my02</string>
		<key>selectedImage</key>
		<string>my01</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
</array>
</plist>
