<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class</key>
		<string>ATQVicintyViewController</string>
		<key>title</key>
		<string>主页</string>
		<key>image</key>
		<string>aotuquan-zhuye02</string>
		<key>selectedImage</key>
		<string>aotuquan-zhuye</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>ATQViewController</string>
		<key>title</key>
		<string>凹凸圈</string>
		<key>image</key>
		<string>aotuquan-aotuquan</string>
		<key>selectedImage</key>
		<string>aotuquan-aotuquan02</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>ATQPublishViewController</string>
		<key>title</key>
		<string>兼职中心</string>
		<key>image</key>
		<string>aotuquan-jianzhi</string>
		<key>selectedImage</key>
		<string>aotuquan-jianzhi02</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>ATQMessageViewController</string>
		<key>title</key>
		<string>消息</string>
		<key>image</key>
		<string>aotuquan-xiaoxi</string>
		<key>selectedImage</key>
		<string>aotuquan-xiaoxi02</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
	<dict>
		<key>class</key>
		<string>ATQMeViewController</string>
		<key>title</key>
		<string>我的</string>
		<key>image</key>
		<string>aotuquan-wode</string>
		<key>selectedImage</key>
		<string>aotuquan-wode02</string>
		<key>badgeValue</key>
		<string>0</string>
	</dict>
</array>
</plist>
